!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }

    %title Data Sources | WRDashboard | Waterloo Regional Dashboard

    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/font-awesome.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/blank.css' }
    :scss
      header {
        height: 55px;
        h1, nav {
          display: inline-block;
          margin: 0;
          padding: 10px;
          line-height: 1.2;
        }

        h1 {
          font-size: 18px;
        }

        nav ul {
          list-style-type: none;

          li {
            display:      inline;
            padding-left: 20px;
          }
        }
      }
  %body
    %header
      %h1
        %a{ href: '/' } WRDashboard
      %nav
        %ul
          %li
            %a{ href: '/' } Feeds
          %li
            %a{ href: '/map' } Map
          %li
            %a{ href: '/data_sources' } Data Sources
      %a#fork_me{ href: 'https://gitlab.com/acant/wrdashboard.ca'}
        Fork Me on
        %b Gitlab
    %main
      %h2 Data Sources

      %section.toc
        %h3 Contents
        %ol
          %li
            %a{ href: '#Regional_Geohub' } Regional Geohub
            %ol
              %li
                %a{ href: '#Displayed_in_Map' } Displayed in Map
              %li
                %a{ href: '#Overlayed_on_Map' } Overlayed on Map
              %li
                %a{ href: '#To_Import_Into_OpenStreetMaps' } To Import Into OpenStreetMaps
              %li
                %a{ href: '#Unfiltered_with_GeoJSON_Data' } Unfiltered with GeoJSON Data
              %li
                %a{ href: '#Unfiltered_without_GeoJSON_Data' } Unfiltered without GeoJSON Data
              %li
                %a{ href: '#Rejected_Datasets' } Rejected Datasets


      %section.content
        %h3#Regional_Geohub
          Regional Geohub
          %a{ href: '#Regional_Geohub'} #

        %h4#Displayed_in_Map
          Displayed in Map
          %a{ href: '#Displayed_in_Map'} #
        %ul
          - displayed_datasets.sort { |a,b| a.title <=> b.title }.each do |dataset|
            %li
              %a{ href: dataset.html_url }= dataset.label

        %h4#Overlayed_on_Map
          Overlayed on Map
          %a{ href: '#Overlayed_on_Map'} #
        %p
          TODO: Still need figure out how to display these on the map.
        %ul
          - overlayed_datasets.sort { |a,b| a.title <=> b.title }.each do |dataset|
            %li
              %a{ href: dataset.html_url }= dataset.label

        %h4#To_Import_Into_OpenStreetMaps
          To Import Into OpenStreetMaps
          %a{ href: '#To_Import_Into_OpenStreetMaps'} #
        %ul
          - openstreetmap_import_datasets.sort { |a,b| a.title <=> b.title }.each do |dataset|
            %li
              %a{ href: dataset.html_url }= dataset.label

        %h4#Unfiltered_with_GeoJSON_Data
          Unfiltered with GeoJSON Data
          %a{ href: '#Unfiltered_with_GeoJSON_Data'} #
        %dl
          - unfiltered_geojson_datasets.sort { |a,b| a.title <=> b.title }.each do |dataset|
            %dt
              %a{ href: dataset.html_url }= dataset.label
            %dd
              %p= dataset.html_url
              %p= dataset.description

        %h4#Unfiltered_without_GeoJSON_Data
          Unfiltered without GeoJSON Data
          %a{ href: '#Unfiltered_without_GeoJSON_Data' } #
        %dl
          - unfiltered_datasets.sort { |a,b| a.title <=> b.title }.each do |dataset|
            %dt
              %a{ href: dataset.html_url }= dataset.label
            %dd
              %p= dataset.html_url
              %p= dataset.description
              %ul
                - dataset.media_types.each do |media_type|
                  %li= media_type

        %h4#Rejected_Datasets
          Rejected DataSets
          %a{ href: '#Rejected_Datasets' } #
        %p Datasets which are not appropriate for the dashboard, and can be ignored at least for the moment.
        %ul
          - rejected_datasets.sort { |a,b| a.title <=> b.title }.each do |dataset|
            %li
              %a{ href: dataset.html_url }= dataset.label
